@page
@model Bookstore.Pages.BuyModel
@{
}
<h2>Your Cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
            <!--<th>Total</th>-->
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td>@line.Book.Title</td>
            <td>@line.Quantity</td>
            <td>@line.Book.Price</td>
            <td>@(line.Quantity * line.Book.Price).ToString</td>
            <!--insert delete button here-->
        </tr>
        }
    </tbody>
</table>

<button type="submit" asp-action="Index">Continue Shopping</button>
<button type="submit" asp-action="">Clear Cart</button>