@model Cart
<!--cart summary in top nav bar-->

<div class="">
    <!--display # items in cart and total price-->
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalSum().ToString("c")
        </small>
    }
    <!--link to cart page-->
    <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Buy" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <!--font-awesome shopping cart logo-->
        <!--<i class="fade fa-shopping-cart"></i>-->
        Checkout
    </a>
</div>